.formContainer {
  width: 420px;
  margin: 0 auto;

  h2 {
    font-weight: 800;
    text-align: center;
  }
}

.form {
  margin: 2rem 0 3rem 0;
}

.formGroup {
  margin-bottom: 1rem;

  label {
    display: block;
    margin-bottom: 0.75rem;
    font-size: 15px;
  }

  input {
    height: 42px;
    width: 100%;
    background: #fff;
    border: 0;
    border-radius: 3px;
    padding: 0rem 11px;
    font-size: 16px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 89.5px;
  height: 38.6;
  background-color: #00d395;
  border: 1.5px solid #00d395;
  border-radius: 3px;
  padding: 0.55rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0px;
  color: #fff;
  cursor: pointer;

  &:hover {
    background: transparent;
    color: #00d395;
  }
}

input:disabled {
  background: #ddd;
  color: #bbb;
  cursor: not-allowed;
}
